{% extends "base.html" %}
{% block title %}Bloggato{% endblock %}
{% block menu %}
        <ul class="nav nav-justified">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
{% endblock %}

{% block content %}
<h1>Blog</h1>
{% if latest_blog_posts %}
    <ul>
    {% for post in latest_blog_posts %}
        <li><a href="/blog/{{ post.id }}/">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Blog posts are available.</p>
{% endif %}
{% endblock %}