{% extends "base.html" %}
{% block title %}Bloggato - Post deleted{% endblock %}

{% block content %}

<br>
<br>

{% if success %}
    {% if success == 'true' %}
    	<div class="alert alert-success">
    		Post deleted. <a href="/blog" class="alert-link">Click here to go back to the home page.</a>
		</div>
    {% else %}
    	<div class="alert alert-danger">
    		{{ message }}. <a href="/blog" class="alert-link">Click here to go back to the home page.</a>
		</div>
    {% endif %}
{% endif %}

{% endblock %}