{% extends "base.html" %}
{% block title %}Bloggato{% endblock %}

{% block content %}
<br>
<br>

{% if post %}
    <h1>{{ post.title }}</h1>
    <ul>
        <div class="body">{{ post.text|linebreaks }}</div>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date }}</p>
        {% if user.is_authenticated %}
            {% if user == post.user %}
            <p>
                <a href="/blog/{{ post.id }}/edit" class="btn btn-primary btn-xs">Edit</a>
                <a href="#" class="btn btn-primary btn-xs" id="deleteButton" data-toggle="modal" data-target="#deletePostModal">Delete</a>

                <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Post deletion</h4>
                      </div>
                      <div class="modal-body">
                        <h4>Do you really want to delete this post and all its comments?</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="/blog/{{ post.id }}/delete" class="btn btn-primary" id="deleteButton">Delete</a>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </p>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}

<!-- Comment form -->
<div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form" action="{% url 'blog.views.add_comment' post.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" rows="3" id="id_text" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Comments  -->
{% if comments %} 
    {% for comment in comments %}
        <h3>{{ comment.user }} - <small><span class="glyphicon glyphicon-time"></span> {{ comment.date }}</small></h3>
        <p>{{ comment.text }}</p>
    {% endfor %}
{% endif %}

{% endblock %}